{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <p>あなたの留保価格:{{player.reservation_price}}</p>

    <p>価格:{{Constants.price}}</p>

    <p>ネットワーク外部性:{{Constants.externality}} ✖️ 購入者数</p>

    <p>現在の購入者数:
        <span id="num_of_bought">
            {{group.num_of_bought}}
        </span>
    </p>

    <p>買う？</p>
    <div>
        <button id="yesbutton" name="will_buy" value ="True" class="btn btn-primary btn-large">Yes</button>
        <button name="will_buy" value ="False" class="btn btn-primary btn-large">No</button>
    </div>

    <script>
        let yesButton = document.getElementById("yesbutton")
        let numOfBought = document.getElementById("num_of_bought")
        console.log("script loaded")
        function liveRecv(payload) {
            console.log("receive num of bought", payload)
            numOfBought.innerHTML = payload
        }
        yesButton.onclick = function () {
            console.log("click")
            liveSend({})
        }
    </script>
{% endblock %}