{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}
    {{reservation_price}}

    <div>
        <button name="will_buy" value ="True" class="btn btn-primary btn-large">Yes</button>
        <button name="will_buy" value ="False" class="btn btn-primary btn-large">No</button>
    </div>
    <button id="yesbutton" type="button">Yes</button>
    <div>
        Num:
        <span id="num_of_bought">
            {{group.num_of_bought}}
        </span>
    </div>

    <script>
        let yesButton = document.getElementById("yesbutton")
        let numOfBought = document.getElementById("num_of_bought")
        console.log("script loaded")
        function liveRecv(payload) {
            console.log(payload)
            numOfBought.innerHTML = payload
        }
        yesButton.onclick = function () {
            console.log("click")
            liveSend({})
        }
    </script>
{% endblock %}